@import '../../base';

.review {
    width: 90%;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 10px 50px rgba(#000, .2);
    margin: 20px 0;
    transition: .3s ease;

    .img-field {
        height: 400px;
        @include setBgImg;
    }

    .card-body {padding: 30px;}
    .author, .date {
        display: inline-block;
        padding-right: 20px;
        font-size: 14px;
        span {font-weight: 600;}
    }
    // thumbUp btn
    .css-i4bv87-MuiSvgIcon-root {
        color: $orange; 
    }
}

// Rating Stars
.MuiRating-root {
    margin: 10px 0 15px;
}